#{extends 'main.html' /}
#{set title:'AgregarConcierto' /}

 #{form @Application.registrarConcierto()}
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Banda o Grupo musical</label>
                                <input type="text" class="form-control"
                                       placeholder="Banda o Grupo musical" id="nombre" name="nombre" required
                                       data-validation-required-message="Porfavor introduce el nombre del concierto" value="${params.nombre}">

                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Lugar del Concierto</label>
                                <input type="text" class="form-control"
                                       placeholder="Lugar" id="lugar" name="lugar" required
                                       data-validation-required-message="Porfavor introduce el lugar."
                                       value="${params.lugar}">

                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Fecha del concierto</label>
                                <input type="text" class="form-control"
                                       placeholder="Fecha" id="primerApellido" name="fecha" required
                                       data-validation-required-message="Porfavor introduce la fecha del concierto."
                                       value="${params.fecha}">

                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Costo del concierto</label>
                                <input type="text" class="form-control" placeholder="Costo" id="costo"
                                       name="costo"
                                       required
                                       data-validation-required-message="Porfavor introduce el costo del concierto."
                                       value="${params.costo}">

                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        
                        <br>

                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            #{/form}