#{extends 'main.html' /}
#{set title:'Excel' /}

<div id="header">
<h1>Concierto</h1>
</div>

<div id="content">
<table>
<thead>
<tr><th>Nombre</th><th>Donde</th><th>Fecha</th><th>Precio</th>
</thead>
<tbody>
#{list concierto, as: 'con'}
<td>${con.nombre}</td><td>${con.donde}</td><td>${con.fecha}</td><td>${con.precio}</td>
<td><a href="@{Application.excelLista()}" class="action">generate namecard</a></td></tr>
#{/list}
</tbody>
</table>
    
<ul class="actions">
<li><a href="/tarjeta">Tarjeta de conciertos</a></li>
</ul>
</div>
